@CHARSET "UTF-8";
#GoogleMap {width:100%;height:300px;float:left;}
.contact h3 {margin-bottom:15px;margin-top:15px;}
.contact span.label{margin-left:10px;width:80px;display:block;float:left;font-weight:bold;}